h1  {
    text-align: center;
   /* color: ghostwhite;*/
}
h3  {
    text-align: center;
}
img {
    max-height: 15%;
    max-width: 15%;
    border: 3px solid ghostwhite;
    margin-left: 43%;
}
body {
    background-color: grey;
}
#body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px black;
    padding-top: 50px;
    padding-bottom: 100px;
}
#menu   {
    padding: 5px;
    border: 2px solid ghostwhite;
    background-color: gainsboro;
}
#delete {
    padding: 5px;
    border: 2px solid ghostwhite;
    background-color: gainsboro;
}
table {
    border: 2px solid ghostwhite;
}
footer {
    text-align: center;
    font: 20px italic bold;
}